.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color:#dadbd3 ;
}

.app__body{
    background-color: #ededed;
    margin-top: -50px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75) ;
}
