.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.6;
    gap: 2vw;
    min-width: 10vw;
}

.sidebar__headerLeft{
    flex: 0.3;
    display: flex;
    align-items: center;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__headerLeft > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 30px !important;
}

.sidebar__search{
    display:flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}
.sidebar__search > input{
    border: none;
    outline-width: 0;
    margin-left: 10px;
}

.sidebar__chats{
    background-color: white;
    flex:1;
}